* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, black, #333, rgb(0, 149, 255));
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  white-space: wrap;
}

a {
  text-decoration: none;
}

.tags {
  display: inline-block;
  margin: 2px;
  background-color: black;
  color: white;
  padding: 2px 8px;
  border-radius: 10%;
  white-space: nowrap;
}

.btnPostJob {
  background-image: linear-gradient(to right, black, #333, rgb(0, 149, 255));
  padding: 7px;
}
.btnPostJob:hover {
  background-image: linear-gradient(
    to right,
    rgba(0, 149, 255, 0.273),
    black,
    #333
  );
}

/* HERO ELEMENT */
.bg-image {
  min-height: 30vh;
  background-size: cover;
}

.colorTxt {
  /* color: #0a4275; */
  color: white;
  text-shadow: 4px 4px 5px black;
}

/* NAVIGATION */
.navbar {
  background-color: black;
  top: 0;
  position: sticky;
  z-index: 100000;
}
.nav-link,
.navbar-brand {
  color: white !important;
}
.nav-link:hover,
.navbar-brand:hover {
  color: rgb(0, 149, 255) !important;
}

footer {
  bottom: 0;
}

/*  LOGIN AND REGISTRATION*/

.formContainer {
  background-image: url("/images/bg111.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: calc(100vh - 78px);
  background-color: rgba(0, 162, 255, 0.455);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}

.login{
  min-height: 67vh;
}

.frame {
  max-width: 800px;
  /* background: transparent; */
  background: rgba(40, 40, 78, 0.323);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 12px;
  padding: 20px 30px;
  box-shadow: 0 5px 5px rgba(128, 128, 128, 0.451);
}

.frame .input-box {
  width: 100%;
  height: 40px;
  margin: 28px 0;
}

.input-box input {
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  color: white;
}
.input-box input::placeholder,
.custom-textarea::placeholder {
  color: white;
}

.input-box {
  position: relative;
}

.custom-textarea {
  width: 100%;
  /* height: 100px;  */
  padding: 12px;
  background-color: transparent;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  outline: none;
  resize: none;
  margin-top: 4px;
}

.custom-textarea.is-invalid {
  border-color: #dc3545; 
}

.formSubmit {
  background-color: #0a4275;
  box-shadow: 0 5px 5px rgba(128, 128, 128, 0.451);
  border: none;
  color: white;
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

.formSubmit:hover {
  background-image: linear-gradient(
    to right,
    rgb(0, 149, 255),
    #333,
    rgb(0, 149, 255)
  );
  box-shadow: 0 5px 5px rgba(128, 128, 128, 0.451);
  /* transform: scale(0.9, 0.9);  */
}

.formCancel {
  background-color: #333;
  box-shadow: 0 5px 5px rgba(128, 128, 128, 0.451);
  border: none;
  color: white;
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

.formCancel:hover {
background-color: black;
  box-shadow: 0 5px 5px rgba(128, 128, 128, 0.451);
  /* transform: scale(0.9, 0.9);  */
}

@media (max-width: 768px) {
  /* Adjust the maximum width of the form for smaller screens */
  .content {
    max-width: 300px;
  }
}
