* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, black, #333, rgb(0, 149, 255)); 
}

h1, h2, h3, h4, h5, h6, p {
  white-space: wrap;
}

a {
  text-decoration: none;
}

.tags{
  background-color: black;
  color: white;
  padding: 2px 8px;
  border-radius: 10%;
}

.btnPostJob {
  background-image: linear-gradient(to right, black, #333, rgb(0, 149, 255)); 
  padding: 7px ;
}
.btnPostJob:hover {
  background-image: linear-gradient(to right,rgba(0, 149, 255, 0.273), black, #333); 
}

/* HERO ELEMENT */
.bg-image {
  min-height: 30vh;
  background-size: cover;

}

.colorTxt {
  /* color: #0a4275; */
  color: white;
  text-shadow: 4px 4px 5px black;
}

/* NAVIGATION */
.navbar{
  background-color: black;
  top: 0;
  position: sticky;
  z-index: 100000;
}
.nav-link, .navbar-brand {
  color: white !important;
}
.nav-link:hover, .navbar-brand:hover {
  color: rgb(0, 149, 255) !important;
}

footer{
  bottom: 0;
}

